<main>
  <div class="container new-container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 col-xs-12 new-list-container">
        <form #lForm="ngForm" (submit)="onSubmit(lForm)" novalidate>
          <div class="row initial-points">
            <div class="col-md-4 col-xs-4">
              <input class="form-control input-new-list" [(ngModel)]="data.name" name="name" type="text" placeholder="Nome da lista" required>            
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7 col-xs-8">
              <button type="submit" class="btn btn-success btn-create pull-right" aria-label="Left Align">
                Criar
              </button>
              <button (click)="moreOptionsClicked()" type="button" class="btn btn-warning pull-right" aria-label="Left Align">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
              </button>
              <button id="color-picker" (click)="pickColor=!pickColor" type="button" class="btn btn-primary btn-color pull-right" aria-label="Left Align">
                <i class="fa fa-paint-brush" aria-hidden="true"></i>              
              </button>
              <div *ngIf="pickColor" class="colors">
                <button (click)="chooseColor('red')" type="button" class="btn btn-color pick-red btn-color-pick pull-right" aria-label="Left Align"></button>
                <button (click)="chooseColor('yellow')" type="button" class="btn btn-color pick-yellow btn-color-pick pull-right" aria-label="Left Align"></button>
                <button (click)="chooseColor('green')" type="button" class="btn btn-color pick-green btn-color-pick pull-right" aria-label="Left Align"></button>
                <button (click)="chooseColor('blue')" type="button" class="btn btn-color pick-blue btn-color-pick pull-right" aria-label="Left Align"></button>
                <button (click)="chooseColor('orange')" type="button" class="btn btn-color pick-orange btn-color-pick pull-right" aria-label="Left Align"></button>
              </div>
            </div>
          </div>
          <div *ngIf="moreOptions">
            <hr/>
          </div>
          <div *ngIf="moreOptions" class="row moreOptions">
            <!-- <div class="col-md-12">
              <label>Padrões</label>
              <select class="form-control">
                <option>Supermercado</option>
                <option>Supermercado</option>
                <option>Exercícios escolares</option>
                <option>Objetivos</option>
              </select>
            </div> -->
            <div class="col-md-12 col-sm-12">
              <label>Tarefas</label>
              <div class="row">
                <div class="col-md-11">
                  <input class="form-control" [(ngModel)]="actualItem" name="actualItem" type="text" placeholder="Item">                  
                </div>
                <div class="col-md-1">
                  <button (click)="sendItem()" type="button" class="btn btn-primary btn-create pull-right" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
              <div class="actual-items">
                <div *ngFor="let item of actualItems">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                      {{ item.name }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div *ngIf="tasksList" class="container">
      <div class="col-md-12 col-xs-12">
        <div *ngFor="let displayedTask of tasksList">
          <div class="col-md-4 col-xs-12 task-container pick-{{ displayedTask.color }}">
            <h3>{{ displayedTask.name }}</h3>
            <div *ngFor="let item of displayedTask.items">
              <div class="checkbox">
                <label>
                  <input type="checkbox" (change)="checked(displayedTask, item)" value="">
                  <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  {{ item.name }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
