main {
  background-color: #efefef;
}

.new-list-container {
  background-color: #fff;
  min-height: 75px;
  height: 100%;
  border: 2px solid #e0e0e0;
}

.initial-points {
  margin-top: 18px;
}

.btn-flex {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.btn-flex .btn:first-child {
  flex-grow: 1;
  text-align: left;
}

.task-container {
  background-color: #fff;
  color: #fff;
  border-left: 10px solid #efefef;
}

.btn-color-pick {
  width: 36px;
  height: 35px;
  border-radius: 20px;
}

.task-name {
  line-height: 2;
}

.done-button {
  top: 13px;
  right: 15px;
}

.pick-{
  color: #000;
}

.pick-red {
  background-color: rgb(248, 112, 112);
  color: #fff;
}

.pick-blue {
  background-color: rgb(112, 187, 248);
  color: #fff;
}

.pick-green {
  background-color: rgb(104, 161, 117);
  color: #fff;
}

.pick-yellow {
  background-color: #ffe772;
  color: #fff;
}

.pick-orange {
  background-color: rgb(248, 185, 112);  
  color: #fff;
}

.pick-red-border {
  border-color: rgb(248, 112, 112);  
}

.pick-blue-border {
  border-color: rgb(112, 187, 248);  
}

.pick-green-border {
  border-color: rgb(104, 161, 117);  
}

.pick-yellow-border {
  border-color: #ffe772;  
}

.pick-orange-border {
  border-color: rgb(248, 185, 112);  
}

.color {
  width: 100px;
}

.checkbox > label {
  font-size: 14px;
}

.cr {
  line-height: 0;
}