main {
  background-color: #efefef;
  height: 100vh;
}

.new-container {
  margin-bottom: 50px;
}

.new-list-container {
  background-color: #fff;
  min-height: 75px;
  height: 100%;
  margin-top: 100px;
  position: relative;
  border: 2px solid #e0e0e0;
}

.initial-points {
  margin-top: 18px;
}

.input-new-list {
  width: 100%;
}

.btn-create {
  margin-left: 10px;
}

.btn-color {
  margin-right: 10px;
}

.btn-flex {
  display: flex;
  align-items: stretch;
  align-content: stretch;
}

.btn-flex .btn:first-child {
  flex-grow: 1;
  text-align: left;
}

.actual-items {
  margin-top: 20px;
  margin-bottom: 20px;
}

.task-container {
  background-color: #fff;
  color: #fff;
  margin-bottom: 20px;
  border-left: 10px solid #efefef;
}

.task-container > h3 {
  font-weight: 600;
}

.btn-color-pick {
  width: 36px;
  height: 35px;
  border-radius: 20px;
}

.pick-{
  color: #000;
}

.pick-red {
  background-color: rgb(248, 112, 112);  
}

.pick-blue {
  background-color: rgb(112, 187, 248);  
}

.pick-green {
  background-color: rgb(104, 161, 117);  
}

.pick-yellow {
  background-color: #ffe772;
}

.pick-orange {
  background-color: rgb(248, 185, 112);  
}

.pick-red-border {
  border-color: rgb(248, 112, 112);  
}

.pick-blue-border {
  border-color: rgb(112, 187, 248);  
}

.pick-green-border {
  border-color: rgb(104, 161, 117);  
}

.pick-yellow-border {
  border-color: #ffe772;  
}

.pick-orange-border {
  border-color: rgb(248, 185, 112);  
}

.color {
  width: 100px;
}