main {
  background-color: #efefef;
}

.login-form {
  margin-top: 10%;
}

.login-background {
  background-color: white;
  padding: 40px 35px;
  border-radius: 10px;
  border: 1px solid #cccccc;
}

.logo {
  width: 100%;
}

@media (max-width: 769px) {
  .login-form {
    margin-top: 30%;
  }
}
