<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#">
        <img class="logo" alt="MakeUList" src="../../assets/images/logo-white.png">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Nova lista</a></li>
      <li><a href="#">Contato</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <button type="button" class="btn btn-link btn-lg user-btn" aria-label="Left Align">
        <span class="enter">Entrar</span> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      </button>
    </ul>
  </div>
</nav>
<main>
  <div class="container home-starter text-center">
    <h1>ORGANIZE AS SUAS TAREFAS!</h1>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Nova lista</a></p>
  </div>
</main>
