.home-starter {
  padding-top: 30vh;
  color: white;
}

main {
  background-image: url('../../assets/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
}

@media (max-width: 670px) {
  main {
    background-size: 100vh 100vh;
  }
}

@media (min-width: 671px) and (max-width: 1200px) {
  main {
    background-size: 100% 100vh;
  }
}